//Header
.header {
  max-width: 120rem;
  margin: 5rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    flex-direction: row;

    // margin: 0 10rem;
  }
  @include respond(small-desktop) {
    flex-direction: row;
    margin: 5rem 16.5rem;
  }

  &__block {
    flex: 0 1 48%;
    & > * {
      // text-align: center;
      margin-bottom: 5.5rem;
    }

    @include respond(tab-land) {
      & > * {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__heading-primary {
    text-align: center;
    line-height: 1.1;

    @include respond(tab-land) {
      text-align: left;
    }
  }

  &__heading-secondary {
    color: HSLA(100, 100%, 100%, 0.7);
    text-align: center;
    @include respond(tab-land) {
      text-align: left;
    }
  }
}
